.formation_container {
    flex: 4;
}

.formation__head {
    display: flex ;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    margin-top: -10px;
    background-color: #fff;
    padding: .3rem 1.3rem;
    border: 1px solid #1b2a41;
}

.formation__head h3 {
    margin: 0 auto;
}


.img__left {
  flex: 1;
}

.img__descrip{
    flex: 1;
}

.img__descrip h3 {
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 18px;
}

.img__descrip p{
  font-size: 13px;
}

.img__descrip .linkMore{
    font-size: 14px;
    color: darkseagreen;
    text-decoration: underline;
    letter-spacing: 2px;
}

.formBoxContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 2rem .1rem 2rem;
  gap: 2rem;
}

.divButton button{
  border-radius: .4rem;
}


